# ===========================
# NetInventory
# Archivo de ejemplo
# ===========================

# ---------- SNMP ----------
SNMP_VERSION=2c
SNMP_COMMUNITY=CAMBIAR_COMUNIDAD
SNMP_PORT=161
SNMP_TIMEOUT=3
SNMP_RETRIES=1

# ---------- Futuras integraciones ----------
# ZABBIX_URL=
# ZABBIX_USER=
# ZABBIX_PASSWORD=
# GOOGLE_DRIVE_FOLDER=